/* Button.module.css */
.primary {
    background-color: #4f46e5;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
}

.secondary {
    background-color: #ccc;
    color: black;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
}
