/* UserProfile.module.css */
.card {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 250px;
    margin: 20px auto;
}

.profileImage {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.name {
    font-size: 1.5em;
    color: #333;
}

.description {
    font-size: 1em;
    color: #666;
}
